/* tools css */
.toolsBody {
  min-width:340px;
  width: 60%;
  background: white;
  padding: 5px 20px 20px 20px;
  box-shadow: 1px 1px 5px 1px gray;
  margin:0 auto;
  margin-top: 30px;
  margin-left:220px;
}

@media (max-width: 740px) {
  .toolsBody {
    margin:0 auto;
    margin-top: 30px;
  }
}