body {
  margin: 0;
  background: #eeeeee;
}

.main-container {
  /* width:90%; */
  margin:0 auto;
}

/* global css */

.global-button {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #3651F1;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  border:1px solid #3651F1;
  color: white;
}

.global-button-reverse {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #3651F1;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  border:1px solid #3651F1;
  background-color: white;
}

.qr-code-button {
  /* width:395px; */
  min-width:340px;
  margin-top:10px;
  display:block;
}

.qr-code-input {
  display:block;
}

.gb-margin-left {
  margin-left: 5px;
}

.gb-margin-right {
  margin-right: 5px;
}

.global-input {
  /* width:362px; */
  min-width:305px;
  height:24px;
  padding: 6px 16px;
  border-radius: 4px;
  border:1px solid #ccc;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.qr-image-box {
  /* width:395px; */
  min-width:340px;
  width:340px;
  height:395px;
  border-radius: 4px;
  border:1px solid #ccc;
  margin-bottom:10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.qr-image-body {
  width:300px;
  height:300px;
  border-radius: 4px;
  border:1px solid #ccc;
  margin: 0 auto;
  margin-top: 20px;
}

.qr-code-default {
  width:300px;
  height:300px;
}

.qr-image-bottom {
  margin:0 auto;
  text-align:center;
  margin-top:20px;
}

.qr-layout {
  width:340px;
  margin:0 auto;
}